header {
  height: 75px;
  background-color: #FFF;

  .header-container {
    justify-content: space-between;
    .products {
      color: #212121;
      font-size: 23px;
    }
  }

  .company-name {
    font-size: 30px;
  }
}
