<header>
  <div class="header-container container h-100 d-flex align-items-center">
    <span class="products">Products</span>
    <span class="company-name">Azerconnect  Assignment</span>
    <div></div>
  </div>
</header>
