.shopping-container {
  margin-top: 50px;
}

.info-container {
  .text {
    color: #212121;
    font-size: 20px;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.counter-control {
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  padding: 2px;
  img {
    cursor: pointer;
  }
  .counter {
    margin: 0 20px;
  }
}

.check-out {
  margin: auto;
  padding: 18px;
  background-color: #2F8BE6;
  color: white;
  font-size: 19px;
  border: none;
  border-radius: 29px;
}

.action {
  button {
    margin: 0 !important;
  }
}

.product-list-in-basket {
  height: 400px;
  overflow: auto;
  .title {
    font-size: 20px;
    margin-right: 10px;
    color: #212121;
  }
  .count {
    color: #2F8BE6;
    font-size: 20px;
    font-weight: bold;
  }
  .description {
    color: #757575;
  }
}

.products-container {
  .product {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    height: 280px;
    margin-bottom: 10px;
    .image {
      display: inline-block;
      width: 50%;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      object-fit: cover;
      height: 100%;
    }
    .info-container {
      display: inline-block;
      width: 50%;
      .info {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }
}

.shipping-control {
  position: sticky;
  top: 20px;
  margin-bottom: 10px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px #DEDEDE;

  .title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgba(33, 33, 33, 0.75);
  }

}
