<app-header></app-header>
<section class="shopping-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <app-loading [loading]="loading"></app-loading>
        <div class="products-container">
          <div class="product" *ngFor="let product of products">
            <img class="image" [src]="product.imagePath" alt="">
            <div class="info-container">
              <div class="info h-100">
                <div class="about">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                      <span class="text mb-2">{{product.title}}</span>
                      <span>{{product.description}}</span>
                    </div>
                    <span class="text">${{product.price}}</span>
                  </div>
                </div>

                <div class="action d-flex justify-content-end">
                  <ng-container *ngIf="product.count === 0; else counter">
                    <button class="check-out" (click)="addProduct(product)">Add to card</button>
                  </ng-container>
                  <ng-template #counter>
                    <div class="counter-control d-flex justify-content-between align-items-center">
                      <img (click)="productControl(product.id, control.DECREASE)" src="/assets/decrease.svg" alt="decrease">
                      <span class="counter">{{product.count}}</span>
                      <img (click)="productControl(product.id, control.INCREASE)" src="/assets/increase.svg" alt="increase">
                    </div>
                  </ng-template>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shipping-control">
            <p class="title">Basket</p>


            <div class="product-list-in-basket">
              <ng-container *ngFor="let basketItem of getBasket()">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div class="d-flex flex-column">
                    <div> <span class="title">{{basketItem.title}}</span> <span class="count">x{{basketItem.count}}</span></div>
                    <span class="description">{{basketItem.description}}</span>
                  </div>
                  <img (click)="deleteProductById(basketItem.id)" src="/assets/basket.svg" alt="basket">
                </div>
                <hr>
              </ng-container>
            </div>

            <hr>
            <div class="d-flex justify-content-between align-items-center">
              <p>Total:</p>
              <p>${{totalPrice()}}</p>
            </div>
            <div class="d-flex justify-content-center">
              <button class="check-out" (click)="checkOut()">Check out</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
